---
import { Image } from 'astro:assets'
import SvgBallantines from '@/assets/icons/ballantines.svg'
import SvgArrow from '@/assets/icons/arrow.svg'
import imgHero from '@/assets/images/hero.webp'
import SvgLock from '@/assets/icons/lock.svg'

interface Props {
	sections: {
		image: ImageMetadata
		rotate: string
		active: boolean
	}[]
}

const { sections } = Astro.props
---

<svg width="0" height="0" viewBox="0 0 1 1">
	<defs>
		<clipPath id="clip-donut" clipPathUnits="objectBoundingBox">
			<path d="M0.5 0a0.5 0.5 0 1 1 0 1A0.5 0.5 0 0 1 0.5 0m0 0.15a0.35 0.35 0 1 0 0 0.7 0.35 0.35 0 0 0 0-0.7"></path>
		</clipPath>
	</defs>
</svg>

<section class="relative overflow-clip text-center">
	<Image class="absolute top-0 left-0 size-full object-cover" src={imgHero} width={1920} loading="eager" fetchpriority="high" alt="" format="avif" quality={50} />

	<div class="relative container flex min-h-screen flex-col items-center justify-between gap-6 pt-[48px]">
		<div class="font-display relative z-10 mt-3 flex flex-col items-center text-xs font-bold uppercase">
			<div>Un verano de 10</div>
			<small>Un proyecto de</small>
			<SvgBallantines class="mt-2 w-32 text-white" />
		</div>

		<div class="relative max-lg:aspect-square max-lg:w-full lg:absolute lg:inset-x-6 lg:top-[calc(48px+7rem)]">
			<div class="clip-donut animate-spinner absolute top-0 flex aspect-square w-full items-start justify-center">
				{
					sections.map(({ image, rotate, active }, index) =>
						active ? (
							<a class:list={['gsap-anchor clip-pie absolute h-1/2 w-3/10 origin-bottom bg-blue-900', rotate]} href={`#section-${index + 1}`}>
								<Image class="absolute w-full transition-opacity hover:opacity-50" src={image} width={490} densities={[2]} loading="eager" fetchpriority="high" alt="" format="avif" quality={50} />
							</a>
						) : (
							<div class:list={['clip-pie absolute h-1/2 w-3/10 origin-bottom bg-blue-900', rotate]}>
								<Image class="absolute w-full transition-opacity hover:opacity-50" src={image} width={490} densities={[2]} loading="eager" fetchpriority="high" alt="" format="avif" quality={50} />
								<div class="absolute top-0 left-0 flex aspect-video w-full items-center justify-center">
									<SvgLock class="w-1/12" />
								</div>
							</div>
						),
					)
				}
			</div>
		</div>

		<div class="gsap-hero relative mb-6 max-w-114 text-balance">
			<h1 class="font-display text-3xl font-bold text-white uppercase md:text-5xl">Experiencias 10/10: un verano con tu mejor versión</h1>
			<p class="my-6">Este verano, cada experiencia cuenta. Desde un showcooking con cocina de proximidad hasta un brindis al atardecer después de un baño en el mar. Vive momentos inolvidables junto a <a class="underline" target="_blank" href="https://www.ballantines.com/es-es/bebidas/">Ballantine’s</a> y con un enfoque más consciente</p>
			<a class="gsap-anchor mx-auto block w-4 animate-bounce" href="#down"><SvgArrow /></a>
		</div>
	</div>
</section>

<div id="down"></div>
