---
import SvgBallantines from '@/assets/icons/ballantines.svg'
---

<footer class="bg-blue-975 py-12 text-center">
	<div class="container">
		<p class="mb-3">Eltiempo Content para</p>

		<SvgBallantines class="mx-auto w-48 fill-white" />

		<p class="mt-12 mb-3 text-xs font-bold uppercase">
			<a class="decoration-1 underline-offset-4 hover:underline" target="_blank" href="https://www.eltiempo.es/bc/eltiempocontent/">La fábrica de contenidos de ElTiempo </a>
			<span>|</span>
			<a class="decoration-1 underline-offset-4 hover:underline" target="_blank" href="https://www.eltiempo.es/bc/marcasresponsables/">Marcas Responsables</a>
		</p>

		<p class="text-sm">
			<a class="decoration-1 underline-offset-4 hover:underline" target="_blank" href="https://www.eltiempo.es/legal/politica-privacidad.html">Política de privacidad</a>
			<span>|</span>
			<a class="decoration-1 underline-offset-4 hover:underline" target="_blank" href="https://www.eltiempo.es/legal/condiciones-generales.html">Aviso legal</a>
			<span>|</span>
			<a class="decoration-1 underline-offset-4 hover:underline" target="_blank" href="https://www.eltiempo.es/legal/politica-cookies.html">Política de cookies</a>
		</p>

		<hr class="mx-auto my-3 max-w-64 border-white/50" />

		<p class="text-sm">
			<a class="decoration-1 underline-offset-4 hover:underline" target="_blank" href="https://www.eltiempo.es/">© eltiempo, Pelmorex Weather Networks 2025</a>
		</p>
	</div>
</footer>
